appdirs==1.4.3
cairocffi==0.8.0
cffi==1.11.2
chainer==3.0.0
chardet==3.0.4
contextfree==0.1.5
cupshelpers==1.0
dagen==0.1.4
filelock==2.0.12
greenlet==0.4.12
gufw==17.10.0
idna==2.6
lightdm-gtk-greeter-settings==1.2.1
louis==3.3.0
mock==2.0.0
msgpack-python==0.4.8
neovim==0.1.13
nose==1.3.7
npyscreen==4.10.5
numpy==1.13.3
olefile==0.44
packaging==16.8
pacman-mirrors==4.2.3
pbr==3.1.1
Pillow==4.3.0
powerline-status==2.6
protobuf==3.4.0
pycairo==1.13.3
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
pygobject==3.24.1
pyparsing==2.2.0
ranger==1.8.1
requests==2.18.4
six==1.10.0
speedtest-cli==1.0.6
stevedore==1.27.1
team==1.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
